body{
    margin: 0;
    font-family: Reboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000000cb;
    backdrop-filter: blur(1000px);
    opacity: 0.9;
    min-height: 100vh;
    min-width: 100vw;
    
    

}
article .post-header{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
    gap: 10px;
    justify-content: space-between;


}
article header .post-location{
    color: #ffffff;
    font-weight: 40;
    margin-bottom: 1px;
    
}

article header strong{
    font-size: 24px;
}
article header .post-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}

article{
    display: flex;
    align-items: center;
    background-color: #474747;
    padding: 16px 32px;
    border-radius: 10px;
    opacity: 6;
    justify-content: space-between;
    

}

.post-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
article .post-follow{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 0;
    padding: 6px 16px;
    border-radius: 10px;
    margin-left: 16px;
}
.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.post-follow .is-following{
    border:1px;
    background-color: aqua;
    border: red;
}
.post-follow:hover{
    background-color: #729fff;
    transition: .1s ease-in background-color;
}
.post-follow .is-following{
    background-color: red;
}